#modify {
  color: rgb(255, 102, 0);
  border: 2px solid rgb(255, 102, 0) !important;
}

#delete {
  color: red;
  border: 2px solid red !important;
}

#close {
  z-index: 3;
  position: absolute;
  right: -90px;
  top: -50px;
  color: red;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
